<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Add question</h1>
    <img src="https://lh3.googleusercontent.com/UtBd5AKPUbq5RqkMYYbyx4p4ouOPVCDUDsRlkfkHroqlblJh6s1oMer8uhQFFUDYCJR1JZhrMTO7bVKp3hf2nBA8Iqc_EFOhqD2_DX64MEL5rYKya-JXD1__Wmz0Y0uM82GFa3dW=w2400" id="template-photo">
    <form action="/add-question" method="post" enctype="multipart/form-data"  >
        {%for title in titles%}
        <label for={{title}}>{{title.replace("_"," ").capitalize()}}<br></label>
        {% if title == "image" %}
        <label for="file"></label><br>
        <input type="file" name="File" id="file"> <br><br>
        {% else %}
        <input type="text" name={{title}}><br><br>
        {% endif %}
        {%endfor%}
        <button type="submit" id="button-add" style="background: #8e7cc3;color:white;">Add a new question</button>
    </form>
</body>
</html>