<html>
  <head>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='bonusQuestions.js') }}"
      defer
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='doNotModifyThisFile.js') }}"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <img
      src="https://lh3.googleusercontent.com/MDXjjMf86932TEsH20IGPFkBvTy0J8uwT22pWt9xSuhnmVvCyE-wrQ0qWrJQDutXEpBIuGUyukN1HSSw47JhKziEJBg-XDMZSB4TdsVCOBrhMAhRv6KrQXEasPPMYG7-2LdfIHGW=w2400"
      alt=""
      style="height: 50px"
    />
    <br />
    <br />
    <div class="container-buttons-question-list">
      <div class="main">
        <a href="{{ url_for('main_page')}}" id="add-href">Go to main page</a>
      </div>
    </div>
    <br />
    <h2>All Questions:</h2>
    <button id="theme-button">Change Theme to Dark</button>
    <button id="increase-font-button">Increase page font</button>
    <button id="decrease-font-button">Decrease page font</button>
    <input
      data-table-body="doNotModifyThisId_QuestionsTableBody"
      style="width: 500px"
      id="doNotModifyThisId_QuestionsFilter"
      type="text"
      placeholder="filter questions by keywords"
    />
    <table>
      <thead id="doNotModifyThisId_QuestionsTableHeader">
        <tr>
          <td><b>Title</b></td>
          <td><b>Description</b></td>
          <td><b>Vote Count</b></td>
          <td><b>View Number</b></td>
        </tr>
      </thead>
      <tbody id="doNotModifyThisId_QuestionsTableBody">
        {% for question in questions %}
        <tr>
          <td>{{ question['title'] }}</td>
          <td>{{ question['description'] }}</td>
          <td>{{ question['vote_number'] }}</td>
          <td>{{ question['view_number'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
