<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body id="edit-question">
    <h1>Edit a question</h1>
    <img src="https://lh3.googleusercontent.com/UtBd5AKPUbq5RqkMYYbyx4p4ouOPVCDUDsRlkfkHroqlblJh6s1oMer8uhQFFUDYCJR1JZhrMTO7bVKp3hf2nBA8Iqc_EFOhqD2_DX64MEL5rYKya-JXD1__Wmz0Y0uM82GFa3dW=w2400" id="template-photo">
   <form action="{{ url_for('edit_question',question_id=question_id) }}" method="post" enctype="multipart/form-data">
        {% for title in titles %}
        <label for={{ title }}>{{title.replace("_"," ").capitalize()}}<br></label>
        {% for dic in question_list_dic if dic["id"] == question_id %}
        {% if title == "image" %}
        <label for="file" ></label><br>
        <input type="file" name="File" id="file" > <br><br>
        {% else %}
        <textarea name={{ title }} rows="4" cols="40">{{ dic[title]|safe }}</textarea><br>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <button type="submit" id="button-add" style="background: #8e7cc3;color:white;" onclick="return confirm('Are you sure?')">Edit Question!</button>
</body>
</html>