<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
    <body>
        <img 
            src="https://lh3.googleusercontent.com/MDXjjMf86932TEsH20IGPFkBvTy0J8uwT22pWt9xSuhnmVvCyE-wrQ0qWrJQDutXEpBIuGUyukN1HSSw47JhKziEJBg-XDMZSB4TdsVCOBrhMAhRv6KrQXEasPPMYG7-2LdfIHGW=w2400" 
            alt="" 
            style="height: 50px; position: relative; left: 620px;"
        >
        <div 
            class="login-box"
        >
            <h2>
                Login
            </h2>
            <form 
                action="{{ url_for('login') }}" 
                    method="post">
                <div 
                    class="user-box">
                        <input 
                            type="text" 
                            name="username" 
                            required=""
                        >
                            <label>
                                email
                            </label>
                </div>
                <div 
                    class="user-box"
                >
                    <input 
                        type="password" 
                        name="password" 
                        required="">
                    <label>
                        password
                    </label>
                </div>
                    <a
                        href="javascript:;" 
                        onclick="parentNode.submit();"
                    >
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                        Submit
                    </a>
            </form>
        </div>
        {%if not_alert == False%}
            <script>
                alert("Not a valid user or password!")
            </script>
        {%endif%}
    </body>
</html>



