<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1 id="main-title">Ask mate</h1>
    <a href="/list" id="main-link">Go to question list</a>
    <img src="https://lh3.googleusercontent.com/0zoyA2OHFJ3eV_MQ5a-2nc8H4LCfHHsQ4mAvQTBowL2eIskc2-1VLDBnBpiu92nkTnthSSk-Hc8RSt9uzq6kc545ZiWk_PNfn2mPm-nHEZPmme5eLVIAe_JB8Ca2tzllfUH4yBbD=w2400"id="main-photo">
    
   
</body>
</html>