<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    
    
</head>
<body>
<img src="https://lh3.googleusercontent.com/MDXjjMf86932TEsH20IGPFkBvTy0J8uwT22pWt9xSuhnmVvCyE-wrQ0qWrJQDutXEpBIuGUyukN1HSSw47JhKziEJBg-XDMZSB4TdsVCOBrhMAhRv6KrQXEasPPMYG7-2LdfIHGW=w2400" alt="" style="height: 50px;">
    <br>
      
    <br>
    <div class="container-buttons-question-list">
        <div class="main" >  <a href="{{url_for('add_question') }}" id="add-href">Add a question</a> </div>
        <div class="main" > <a href = "{{ url_for('main_page')}}" id="add-href">Go to main page</a></div>
        <div class="main" >  <a href="{{url_for('tag_page')}}" id="add-href">Tags</a> </div>
        <div class="main" >  <a href="{{url_for('bonus_questions')}}" id="add-href">Bonus Questions</a> </div>
    </div>
    <br>
    <div class="position">
        
    <br>
    <br>
    <div class="header-question-right">
    <div class="users-only-buttons">
    {%if logged_message%}
    
        <div class="main" style="display:inline-block">  <a href="{{url_for('logout') }}" id="add-href">Logout</a> </div>
        
        <div class="main" style="display:inline-block">  <a href="{{url_for('users_list') }}" id="add-href">Users List</a> </div>
    {%else%}
        <div class="main" style="display:inline-block">  <a href="{{url_for('login')}}" id="add-href">Login</a> </div>
        <div class="main" style="display:inline-block">  <a href="{{url_for('registration')}}" id="add-href">New user</a> </div>
    
    {%endif%}   
    </div> 
        <div class="message-logged">
            <br>
            <br>
        {{ show_message }}
        </div>
    </div>
    </div>
    <br>
    <br>
    <form action="/list"  style="display: inline-block;">
        <label for="sort-by" id="filter-names">Filter by:</label> 
            <select name="sort-by" type="submit">
                <option value="None"></option>
                <option value="title">Title</option>
                <option value="id">Id</option>
                <option value="submission_time">Submission time</option>
                <option value="view_number">View number</option>
                <option value="vote_number">Vote number</option>
                
                
            </select>
    
            <label for="asc-desc" id="filter-names">Ascending / Descending</label> 
                <select name="asc-desc" type="submit">
                    <option value="None"></option>
                    <option value="DESC">Descending</option>
                    <option value="ASC">Ascending</option>
                    
                
                </select>
                <br>
                <br>
        <button type="submit" id="button" style="background: #4b4949;color:white;">Search</button>
  </form>
  <br>
  <br>
    <br>
    <table>
        <thead>
            <tr>
                {% for header in list_question[0].keys() %}
                <th>{{ header.replace("_"," ").capitalize() }} 
                {% endfor %}
                <th>User choice</th>
            </tr>
        </thead>
        <tbody>
            {% for dictionary in list_question %}
                <tr>
                    {% for key in dictionary %}
                        {% if key == "vote_number" %}
                            <td id="vote-table"> 
                            <form action="{{url_for('modify_vote',question_id=dictionary.id)}}" method="post">
                                <button name="vote" value="vote-up" id="vote-button-up">&#8593</button>
                            <br>
                                {{ dictionary[key] }}
                            <br>
                                <button name="vote" value="vote-down" id="vote-button-down">&#8595</button>
                            </form>
                            </td>
                        {% elif key == "title" %}
                            <td>
                                <a href="{{ url_for('answer_question', question_id=dictionary.id) }}">{{ dictionary[key]|safe }}</a>
                            </td>
                        {% elif key == "image" %}
                             <td>
                                {%if dictionary.image != 'None'%}
                                  <img src="/static/images/{{ dictionary['image'] }}" width="40" alt="   ">
                                {%endif%}
                            </td>
                        {% else %}
                            <td>{{ dictionary[key]|safe }} </td>
                            
                        {% endif %}
                                   
                    {% endfor %}
                    
                    <td>
                        <a href="{{ url_for('add_answer_to_question', question_id=dictionary.id) }}"><i class="bi bi-plus-square"></i></a>
                        <hr>
                       <a href="{{url_for('delete_question',question_id=dictionary.id)}}" ><i class="bi bi-trash"></i></a>
	
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
    
</body>
</html>