<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for header in user_details.keys() %}
                <th>{{ header.replace("_"," ").capitalize() }} 
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{user_details.id}}
                </td>
                <td>
                    {{user_details.username}}
                </td>
                <td>
                    {{user_details.registration_date}}
                </td>
                <td>
                    {{user_details.questions_posted}}
                </td>
                <td>
                    {{user_details.answers_posted}}
                </td>
                <td>
                    {{user_details.comments_posted}}
                </td>
                <td>
                    {{user_details.reputation}}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>