<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>User Page</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <img
            src="https://lh3.googleusercontent.com/MDXjjMf86932TEsH20IGPFkBvTy0J8uwT22pWt9xSuhnmVvCyE-wrQ0qWrJQDutXEpBIuGUyukN1HSSw47JhKziEJBg-XDMZSB4TdsVCOBrhMAhRv6KrQXEasPPMYG7-2LdfIHGW=w2400"
            alt=""
            style="height: 50px"
        />
        <div class="main">
            <a href="{{ url_for('main_page') }}" id="add-href"
                >Go to main page</a
            >
        </div>
        <br />
        <div class="main" style="display: inline-block">
            <a href="{{ url_for('users_list') }}" id="add-href"
                >&nbsp;&nbsp;&nbsp;&nbsp;Users List</a
            >
        </div>
        <h2>Users Details:</h2>
        <table>
            <thead>
                <tr>
                    {% for header in user_details.keys() %}
                        <th>
                            {{ header.replace("_"," ").capitalize() }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for header in user_details.keys() %}
                        <td>{{ user_details[header] }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <h2>Questions posted:</h2>
        <table>
            <thead>
                <tr>
                    {% if user_questions_posts %}
                        {% for header in user_questions_posts[0].keys() %}
                            <th>
                                {{ header.replace("_"," ").capitalize() }}
                            </th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for dictionary in user_questions_posts %}
                <tr>
                    {% for key in dictionary %}
                        {% if key == "title" %}
                            <td>
                                <a
                                    href="{{ url_for('answer_question', question_id=dictionary.id) }}"
                                    >{{ dictionary[key] | safe }}</a
                                >
                            </td>
                        {% elif key == "image" %}
                            <td>
                                {% if dictionary.image != 'None' %}
                                    <img
                                        src="/static/images/{{ dictionary['image'] }}"
                                        width="40"
                                        alt="   "
                                    />
                                {% endif %}
                            </td>
                        {% else %}
                            <td>{{ dictionary[key] | safe }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Answers posted:</h2>
        <table>
            <thead>
                <tr>
                    {% if user_answers_posts %}
                        {% for header in user_answers_posts[0].keys() %}
                            <th>
                                {{ header.replace("_"," ").capitalize() }}
                            </th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for dictionary in user_answers_posts %}
                    <tr>
                        {% for key in dictionary %}
                            {% if key == "message" %}
                                <td>
                                    <a
                                        href="{{ url_for('answer_question', question_id=dictionary.question_id) }}"
                                        >{{ dictionary[key] | safe }}</a
                                    >
                                </td>
                            {% elif key == "image" %}
                                <td>
                                    {% if dictionary.image != 'None' %}
                                        <img
                                            src="/static/images/{{ dictionary['image'] }}"
                                            width="40"
                                            alt="   "
                                        />
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{ dictionary[key] | safe }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Comments posted:</h2>
        <table>
            <thead>
                <tr>
                    {% if user_comments_posts %}
                        {% for header in user_comments_posts[0].keys() %}
                            <th>
                                {{ header.replace("_"," ").capitalize() }}
                            </th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for dictionary in user_comments_posts %}
                    <tr>
                        {% for key in dictionary %}
                            {% if key == "message" %}
                                <td>
                                    {% if dictionary.question_id == None %}
                                        <a
                                            href="{{ url_for('get_question_id', answer_id=dictionary.answer_id) }}"
                                            >{{ dictionary[key] | safe }}</a
                                        >
                                    {% else %}
                                        <a
                                            href="{{ url_for('answer_question', question_id=dictionary.question_id) }}"
                                            >{{ dictionary[key] | safe }}</a
                                        >
                                    {% endif %}
                                </td>
                            {% elif key == "image" %}
                                <td>
                                    {% if dictionary.image != 'None' %}
                                        <img
                                            src="/static/images/{{ dictionary['image'] }}"
                                            width="40"
                                            alt="   "
                                        />
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{ dictionary[key] | safe }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
